<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">2023. Tobias Napal</span>
        </div>
    
        <div class="col-md-1 d-flex align-items-center justify-items-center">
            <a href="/home" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 btn btn-lg">
                <i class="bi bi-house"></i>
            </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex flex-column">
            <h5 class="text-muted">Contacto</h5>
            <li><a class="text-muted" href="http://{{usuario.instagram}}"><i class="bi bi-instagram mx-1"></i>Instagram</a></li>
            <li><a class="text-muted" href="http://{{usuario.facebook}}"><i class="bi bi-facebook mx-1"></i>Facebook</a></li>
            <li><a class="text-muted" href="mailto:{{usuario.email}}"><i class="bi bi-envelope mx-1"></i>Correo</a></li>
            <li><a class="text-muted" href="https://wa.me/5492944212964?text=Hola"><i class="bi bi-whatsapp mx-1"></i>WhatsApp</a></li>
          </ul>
    </footer>
</div>
